* {
  box-sizing: border-box;
}

.nav {
  background-color: aliceblue;
  padding: 0;
}

#timer {
  display: inline;
  font-size: 24px;
}

#highscores {
  text-align: left;
  font-size: 24px;
}

header {
  border: black solid 5px;
  text-align: center;
  width: 100%;
}

main {
  display: flex;
  flex-direction: column;
  width: 70%;
}

#startbutton {
  content: center;
}

#answerButton {
  font-size: 24px;
}
